<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="robots" content="noindex,nofollow">

		<title>Freifunk Node Sense</title>

		<link rel="stylesheet" href="/static/css/style.css" type="text/css">
		<link rel="icon" type="image/svg+xml" href="/static/images/favicon.svg">
	</head>
	<body>
		<header>
			<h1>Guest User</h1>
		</header>
		<div class="container">
			<div class="frame">
			</div>
			<div class="frame frame-wide">
				{% block wide_frame %} {% endblock wide_frame %}
			</div>
		</div>
	</body>
</html>
